main {

    /* Voer jouw code hieronder in */

    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */
}

section {

    text-align: center;
    padding: 20px 40px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;

    /* Voer jouw code hieronder in */
    
    /* flex-basis: 250px; */


}