section {
    width: 25vw;
    border: 2px solid #4A5468;
}

/* Voer jouw code hieronder in */
.first {
    padding: 0 20px 20px;
    margin: 0 0 100px;
}

.second {
    padding: 20px 20px 0;
    margin: 100px 0 0;
}